<h3>プロジェクト沿革</h3>
<ul>
    <li>2026/06/28 - 0.25周年！ありがとうございます<br><a href="https://discord.com/channels/1487438553888849983/1495076649186754717/1520772153971048458">お祝いの言葉byキーマ<i class="fa-solid fa-arrow-up-right-from-square" style="color: #6366f1;"></i></a></li>
    <li>2026/05/29 - 当Discordサーバーのメンバー数が200名を突破</li>
    <li>2026/04/17 - ホームページ作成</li>
    <li>2026/04/04 - Java版と統合版両対応への環境移行を完了</li>
    <li>2026/03/30 - Java版と統合版両対応への環境移行準備を開始</li>
    <li>2026/03/30 - 独自サーバーへの環境移行を完了</li>
    <li>2026/03/29 - 独自サーバーへの環境移行を開始</li>
    <li><strong>2026/03/28 - プロジェクト発足・Realmsで建築開始</strong></li>
</ul>